[submodule "ext/libvpx"]
	path = ext/libvpx
	url = https://chromium.googlesource.com/webm/libvpx.git
[submodule "ext/libwebm"]
	path = ext/libwebm
	url = https://chromium.googlesource.com/webm/libwebm.git
[submodule "ext/libvorbis"]
	path = ext/libvorbis
	url = https://github.com/xiph/vorbis.git
[submodule "ext/libogg"]
	path = ext/libogg
	url = https://github.com/xiph/ogg.git
[submodule "ext/opus"]
	path = ext/opus
	url = https://github.com/xiph/opus.git
